.header{
  background: var(--gray-100);
  display: flex;
  justify-content: space-evenly;
  padding: 1.25rem 0;
  margin-bottom: 1.25rem;
}

.header span {
  color: var(--green-500);
}

.header a {
  text-decoration: none;
  background: transparent;
  color: var(--green-500);
  
  gap: 0.5rem;

  transition: color 0.1s, background-color 0.1s;
}

.header a:hover {
  background: var(--green-500);
  color: var(--white);
}